@import '@/assets/scss/variables';
@import '@/assets/scss/mixins';
@import '@/assets/scss/preloading';
@import '@/assets/scss/main';
@import '@/assets/scss/topbar';
@import '@/assets/scss/menu';
@import '@/assets/scss/config';
@import '@/assets/scss/content';
@import '@/assets/scss/responsive';
@import '@/assets/scss/utils';
@import '@/assets/scss/typography';
@import '@/assets/scss/overlaypanel';

@import 'primevue/resources/primevue.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.scss';

:root {
  --primary-color: #01a2e9;

  --primary-50: #aee6ff;
  --primary-100: #9ae0fe;
  --primary-200: #85dafe;
  --primary-300: #71d4fe;
  --primary-400: #5dcefe;
  --primary-500: #48c8fe;
  --primary-600: #34c1fe;
  --primary-700: #20bbfe;
  --primary-800: #0bb5fe;
  --primary-900: #01a2e9;
}

body::-webkit-scrollbar {
  display: none;
}

/* Scrollbar on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--v-scrollbar-base) transparent;
}

/* Scrollbar on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 1px;
  border: 1px solid var(--v-scrollbar-base);
}
